
<% if !@errors%>
<form action="/events/new" method="post">
	Name: <input type="text" name="organizer_name">
	Email: <input type="text" name="organizer_email">
	Title: <input type="text" name="title">
	Date: <input type="date" name="date">
	<input type="submit" value="Create Event">
</form>
<% end %>

<div class = "with_errors">
	<% if @errors %>
	<form action="/events/new" method="post">
	Name: <input type="text" name="organizer_name" value='<%= "#{params[:organizer_name]}" %>'>	Email: <input type="text" name="organizer_email" value= '<%= "#{params[:organizer_email]}" %>'>
	Title: <input type="text" name="title" value= '<%= "#{params[:title]}" %>'>
	Date: <input type="date" name="date" value= '<%= "#{params[:date]}" %>'>
	<input type="submit" value="Create Event">
	</form>
<div class = "errors">
<% @errors.each do |error|  %>
<p> <%=  error %> <p>
<% end %>
<% end %>
</div>
</div>