
<h1><%=@event.organizer_name%>'s Event</h1>
<h2> You are invited to the <%=@event.title%> event on the date of <%=@event.date%></h2>
<p>To RSVP, contact <a href="mail to:
  <%=@event.organizer_email%>"><%=@event.organizer_email%></a></p>
